body {
    font-family: "Roboto", sans-serif;
    background: linear-gradient(to bottom, #D5EECF, #FCFCFC) no-repeat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
}

header {
    display: flex;
    background-color: #45AC42;
    padding: 10px 0;
    justify-content: end;
}

nav {
    display: flex;
    background: linear-gradient(to right, #A3D6A0, #EBF6E8);
    border: 1px solid #4A8748;
    border-radius: 50px;
    height: 39px;
    width: 60%;
    margin-right: 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 95%;
    cursor: pointer;
}

.back{
    background-color: #155913;
    color: #FCFCFC;
    border-radius: 3px;
    border: none;
    width: 93px;
    height: 24px;
    margin-top: 9px;
    cursor: pointer;
    margin-right: 30%;
}

.back:hover{
    background-color: #D5EECF;
    color: #155913;
}

main{
    display: flex;
    justify-content: center;
    margin-top: 57px;
}
.card{
    text-align: center;
    background-color:#46ac4279 ;
    width: 300px;
    height: 60px;
    
}

.names{
    
    font-weight: 500 ;
    color: #155913;

}
 .img{
    width: 47px;
    height: 45px;
 }

