body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #F5F8FF, #D2E1FE, #70a0f1, #A0A7EA);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-direction: column;
}

.opcoes {
    margin-top: 0px;
}

.emergencia {
    margin-bottom: 200px;
}

.chamando {
    margin-bottom: 125px;
}